.item {
    background-color: blue;
    height: 50px;
    width: 50px;
    margin: 10px;
    font-size: 50px;
    padding: 10px;
  }

  .container {
    background-color: aqua;
    height: 260px;
    width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 5px;
    
  }

  .container1 {
    background-color: aqua;
    height: 260px;
    width: 200px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    align-items: center;
    margin: 5px;
    
  }


  .container2 {
    background-color: aqua;
    height: 260px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    margin: 5px;
    
  }

  .container3 {
    background-color: aqua;
    height: 260px;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    margin: 5px;
    
  }
  .container4 {
    background-color: aqua;
    height: 260px;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
    
  }
  .container5 {
    background-color: aqua;
    height: 260px;
    width: 500px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: start;
    margin: 5px;
    
  }








